h1, h2, h3, h4, h5, h6 {
    font-family: 'Cabin', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif; 
}

.vertical-align {
    vertical-align: middle;
}
.img-profile {
    margin-bottom: 15px;
}

.light-blue-bg {
    background-color: #36AEFC;
}
.md-blue-bg {
    background-color: #006DB3;
}
.drk-blue-bg {
    background-color: #000DFF;
}

.light-grn-bg {
    background-color: #00FF84;
}

.md-grn-bg {
    background-color: #00BF63;
}

.drk-grn-bg {
    background-color: #00944D;
}

.bg-normal {background-color: #A8A878;border: 1px solid #6D6D4E;}

.bg-fire {background-color: #F08030;border: 1px solid #9C531F;}

.bg-fighting {background-color: #C03028; border: 1px solid #7D1F1A;}

.bg-water {background-color: #6890F0; border: 1px solid #445E9C; color: white;}

.bg-flying {background-color: #A890F0; border: 1px solid #6D5E9C;}

.bg-grass {background-color: #78C850; border: 1px solid #4E8234;}

.bg-poison {background-color: #A040A0; border: 1px solid #682A68;}

.bg-electric {background-color:#F8D030; border: 1px solid #A1871F;}

.bg-ground {background-color: #E0C068; border: 1px solid #927D44;}

.bg-psychic {background-color: #F85888; border: 1px solid #A13959;}

.bg-rock {background-color: #B8A038; border: 1px solid #786824;}

.bg-ice {background-color: #98D8D8; border: 1px solid #638D8D;}

.bg-bug {background-color: #A8B820; border: 1px solid #6D7815;}

.bg-dragon {background-color: #7038F8; border: 1px solid #4924A1;}

.bg-ghost {background-color: #705898; border: 1px solid #493963;}

.bg-dark {background-color: #705848; border: 1px solid #49392F;}

.bg-steel {background-color: #B8B8D0; border: 1px solid #787887;}

.bg-fairy {background-color: #EE99AC; border: 1px solid #9B6470;}

/* Style the tab */
div.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;
}