<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ name.title() }} - #{{ all_rows[0][0] }}</title>
    <link href="https://fonts.googleapis.com/css?family=Cabin:700i|Open+Sans" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link href="https://fonts.googleapis.com/css?family=Cabin:700i|Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='pokemonStyles.css') }}">
</head>

<body>
<div class="container-fluid">
    <div class="row bg-primary">
        <div class="col-lg-12 col-sm-12 col-md-12 media">
            <div class="page-header">
                <div class="media-left media-top"><img class="media-object img-thumbnail" style="width:100px" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{pokemon_id}}.png"></img></div>
                <div class="media-body"><h1 class="media-heading">{{name.title()}}</h1></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2 text-center light-blue-bg" style="border: 5px solid #0099ff;padding:0px;">
            <div class="light-blue-bg" style="margin-top:0px;"><h2 style="margin: 0px;">{{ name.title() }}<small style="margin-left: 2px">#{{ all_rows[0][0] }}</small></h2><br></div>
            <img class="img-thumbnail img-responsive img-profile" style="width:200px;border: 3px solid black; margin-bottom: 10px;" src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{pokemon_id}}.png"></img>
        </div>
        <div class="col-md-4 text-center">
            <table class="table table-responsive text-center">
                <tr>
                <td>Type</td><td class="bg-{{type}}">{{  type.title() }}</td>
                </tr>
                <tr>
                <td>Height</td><td>{{ all_rows[0][3]}}</td>
                </tr>
                <td>Weight</td><td>{{ all_rows[0][4]}}</td>
                </tr>
            </table>
        </div>
    <!--    <div class="col-lg-12">
            <table class="table table-hover table-responsive">
            {% for column in columns %}
                <th>{{ column[1] }}</th>
            {% endfor %}
            {% for row in all_rows %}
                <tr>
            {% for item in row %}
                <td>{{ item }}</td>
            {% endfor %}
            {% endfor %}
            </table>
        </div> -->
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Stats: </div>
                <div class="list-group panel-body">
                {% for column in base_stats %}
                    <a class="list-group-item">
                    <h4 class="list-group-item-heading">{{column[0].upper()}}</h4>
                    <p class="list-group-item-text">{{column[1]}}</p>
                    </a>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>